@model IEnumerable<Consumewebapp.Models.Driver>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>Driversss from Uber</p>

<table calss="table">
    <tr>
        <th>
            @Html.DisplayNameFor(x => x.Name)
        </th>
        <th>
            @Html.DisplayNameFor(x => x.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(x => x.Address)
        </th>
        <th>
            @Html.DisplayNameFor(x => x.Age)
        </th>
      
    </tr>

    @foreach(var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(m => item.Name)
    </td>

    <td>
        @Html.DisplayFor(m => item.Phone)
    </td>
    <td>
        @Html.DisplayFor(m => item.Address)
    </td>
    <td>
        @Html.DisplayFor(m => item.Age)
    </td>
</tr>
    }
</table>



