@model  MVCDemo.Models.Cab
@{
    ViewBag.Title = "BasicDetails";
}

<h2>BasicDetails</h2>
<p>cab details will be printed here</p>

<h2>@ViewBag.CabName</h2>

<h2>@ViewData["Title"]</h2>
<h2>@TempData["sample"]</h2>

<h2>@Model.Id</h2>
<h2>@Model.Name</h2>
